*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;

}
body{
    height: 5000px;
}
li{
    list-style-type: none;

}
a{
    text-decoration: none;
    color: #fff;
}
#header{
background: #2c3e50;  
position: sticky;
top: 0;
z-index: 999999;
}
header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    
    
}
header ul{
    display: flex;
}
header li{
    padding: 0px 10px;
}
header ul li:last-child a{
    /* border: 1px solid;
    border-color: #18bc9c;
    background-color: #18bc9c;
    padding: 10px 20px; */
    display: none;
}
#top{
    background-color:#18bc9c; 
    text-align: center; 
}
#top img{
    margin-top: 100px;

}
.head hr{
    width: 20%;
    margin: 0px auto;
    margin-top: 25px;
    border: 2px solid white;
}
.head i{
    width: 59px;
    position: relative;
    top: -20px;
    font-size: 35px;
    border: 1px solid;
    height: 44px;
    background: #18bc9c;
    border-color: #18bc9c;
}
#second, #foudth{
    text-align: center; 
    margin-top: 75px;

}
#second i,
#foudth i{
    background-color: #fff;
    border-color: #Fff;

}
#second hr,
#foudth hr{
    border-color: black;
}
#top .head,
#third .head
{
    padding: 30px 0px;
    color: #fff;
}
#top h1
{

    font-size: 75px;
}
#top h5{
    padding-bottom: 80px;
    color: #fff;
    font-size: 24px;
}

#second .col{
    width: 30%;
    margin: 13px 0px;
    position: relative;
    cursor: pointer;

}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18bc9bc5;
   
    display: none;

}
 #second .layer i{
    background-color: #18bc9bc5;
 }
#second .col:hover .layer
{

    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 71px;    
    color: white;
  
}



#second img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
#third{
    background: #18bc9c;
    height: 500px;
}
.rowmain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.colmain{
    width: 40%;
}
.btn-primary {
    border: 1px solid;
    padding: 16px 27px;
    color: #fff;
    border-color: #Fff;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease-in;
}
.btn-primary:hover{
    background-color: #fff;
    border-color: #fff;
    color: black;
}

#last{
    background-color: #2c3e50;
}
#third .head{
    text-align: center;
}
#third h1{
    font-size: 45px;
}
#third p{
    color: #fff;
    width: 87%;
    margin: 0px auto;
    font-size: 22px;
}
.btn{
    margin-top: 56px;
    margin-left: 40%;
}
#foudth form{
    text-align: center;
}
.form-input{
    width: 70%;
    padding-bottom: 20px;
    border-color: transparent;
    border-bottom-color: #e6e6e6;
    outline: none;
}
.form-group{
    margin: 10px 0px;
}
.form-input[type="submit"]{
    padding: 16px 24px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #18bc9c;
    margin-right: 60%;
    width: 10%;
}
.rowlast{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;

}
.collast{
    width: 30%;
    padding: 65px 0px;
    color: #Fff;
}
.collast h4{
    padding-bottom: 30px;
}
.collast p{
    font-size: 26px;
}
.collast .freelance{
    width: 400px;
    font-size: 24px;
}
.freelance a{
    color: #18bc9c;
}
.freelance a:hover {
    color: #0f8d74;
    text-decoration: underline;
}
.collast ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}
.collast ul li{
    border: 1px solid;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    line-height: 45px;
    cursor: pointer;
}
.collast ul li a{
    color: #fff;
}

.collast ul li:hover{
    background: #fff;
   
}
.collast ul li:hover a{
    color:black;
}
footer{
    background:#1e2a36;
    height:50px;
    line-height: 50px;
    text-align: center;
        color: #fff;
}
@media only screen and (max-width:768px){
    .collast .freelance{
        width: 200px;
        font-size: 24px;
    }
    header ul li:last-child a{
       
       
        display: block;

    }
    header ul li:nth-child(1),
    header ul li:nth-child(2),
    header ul li:nth-child(3){
        
        display: none;
    }
    #top h1
{

    font-size: 60px;
}
#second .col{
    width: 50%;
    padding: 0px 10px;
 
}
.colmain{
    width: 100%;
    padding: 10px 0px;
}
#third{
    height: 550px;
}
.form-input[type="submit"]{
    padding: 20px 10px;
}
.collast ul li{
    
    width: 50px;
   
}

}
@media only screen and (max-width:414px){
    .container{
        width: 90%;

    }
    #second .col{
        width: 100%;
        padding: 0px 0px;
        margin-right: 17px;
        
     
    }
    #top h1
{

    font-size:5 0px;
}
.head hr{
    width: 60%;
    
}
#third{
    height: 700px;

}
.collast{
    width: 100%;

}
.collast p{
width: 50%; 
margin: 0px auto;   
}



}